<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Hallo World</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
 </head>
 <body>

	 <div id="app">
	 	<h1>{{ title }}</h1>
		 	<form id="auth" name="auth">
		 		<label>Login:</label>
			 	<input type="login" name="" v-model="login" required><br>
			 	<label>Password:</label>
			 	<input type="password" name="" v-model="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"><p>Пароль должен состоять не менее, чем из 8 знаков и иметь как минуму одну букву и символ</p><br>
			 	<button type="submit" v-on:click.prevent="onClick">Зарегистрироваться</button>
		 	</form>
	 	<p>Вы используете логин: {{ login }}</p>
	 	<p>И пароль {{ password }}</p>
	 </div>
<script type="text/javascript">
	new Vue({
		el: "#app",
		data: {
			title: "Авторизация",
			login: "",
			password: ""
		},
		methods: {
			onClick: function() {
				console.log("ok");
			}
		}
	}) 
	
</script>
 </body>
</html>